.vs
/Database/bin
/Database/obj
obj
bin
/Database/LocalDB.publish.publish.xml
/*.log
/Dahs2BlazorApp/log
/.idea
/DAHS2.sln.DotSettings.user
/Database/*.dbmdl
/Database/Database.jfm
/Dahs2BlazorApp/Dahs2BlazorApp.csproj.user
/Dahs2BlazorApp/Properties/PublishProfiles/*.pubxml
/Dahs2BlazorApp/Properties/PublishProfiles/*.user
EPA
/Dahs2BlazorApp/ModbusServ.dat
/Release
